
nav.navbar{
    background-color: #04045E;
    box-shadow: 2px 2px 2px goldenrod;
    height: 150px;
    padding: 5px 25px 10px 30px;
        margin: 20px 30px;
    border-radius: 30px;
    

}

input.form-control{
    background-color: aliceblue;
    box-shadow: 2px 2px 2px gray;
    padding: 5px 60px;
    position: relative;
        top: -15px;
        left: 5px;
   
}


.btn-default{
    background-color: gold;
    margin: 10px;
    font-size: 20;
    position: relative;
        top: -15px;
        left: 5px;
}


.listapokemon{
    display:grid;
    color: gold;
    font-size: 45px;
    margin: auto;
    background-color: #04045E;
    width: 400px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px goldenrod;

}

.tipotitulo{
    display: grid;
    color: gold;
    font-size: 45px;
    margin: auto;
    background-color: #04045E;
    width: 400px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px goldenrod;

    
    
}

.container-pokeinfo{
background-color: #04045E;
border-radius: 25px;
 text-transform: uppercase;


}

.tituloprincipal {
    color: goldenrod;
    font-weight: bold;
    text-shadow: 2px 1px 1px white ;
    position: relative;
        top: 10px;
        left: 420px;   
    flex-wrap: wrap;
    flex-direction: row;
}
img.pokelist{

    width: 150px;
    height: 150px;
    
}